 <div class="row">
    <div class="col s11">
      {{input value=ask_name label="name" class="" placeholder="Name"}} 
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.ask_name}}
         <i class="small mdi-alert-error"></i>    
         {{else}}
          {{#if isNameEmpty}}
          <i class="small mdi-navigation-check"></i> 
          {{/if}} 
      {{/if}}
    </div>
  </div>   

  <div class="row">
    <div class="col s11">
      {{input value=ask_phone label="phone" class="" placeholder="Phone Number"}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.ask_phone}}
         <i class="small mdi-alert-error"></i>    
         {{else}}
          {{#if isPhoneEmpty}}
          <i class="small mdi-navigation-check"></i> 
          {{/if}} 
      {{/if}}
    </div>
  </div>   

  <div class="row">
    <div class="col s11">
      {{input value=ask_email label="email" class="" placeholder="Email Address"}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.ask_email}}
         <i class="small mdi-alert-error"></i>    
         {{else}}
          {{#if isEmailEmpty}}
          <i class="small mdi-navigation-check"></i> 
          {{/if}} 
      {{/if}}
    </div>
  </div>  

 <!-- Question Type -->
{{md-select 
  content = questionType 
  value = currentQuestionType.id 
  optionLabelPath = 'content.type'
  optionValuePath = 'content.id'
  prompt= "Question Related"
}}

<!-- Reasong -->
 
  <div class="row">
    <div class="col s11">
      

{{input value=ask_reason label="reason" class="" placeholder="Reason |  My Company is looking to create a web app that does the following | etc "}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.ask_reason}}
         <i class="small mdi-alert-error"></i>    
         {{else}}
          {{#if isReasonEmpty}}
          <i class="small mdi-navigation-check"></i> 
          {{/if}} 
      {{/if}}
    </div>
  </div>  

<div class="row center">
        <!-- <button type="submit" class="btn btn-primary btn-whole footer col m6" {{bind-attr disabled='isInvalid'}}{{action 'sendContactMaterial'}}>SUBMIT</button> -->

        {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit' action = 'sendContactMaterial' isDisabled=isInvalid}}
</div>