{{input value=companyName label="companyName" class="col s8" placeholder="Company | Organization Name"}}
            
            {{#if errors.companyName}}
                {{errors.companyName}}
            {{/if}}


{{input value=name label="name" class="col s8" placeholder="Name"}}
            
            {{#if errors.name}}
                {{errors.name}}
            {{/if}}


{{input value=phone label="phone" class="col s8" placeholder="Phone Number"}}
            
            {{#if errors.phone}}
                {{errors.phone}}
            {{/if}}


{{input value=email label="email" class="col s8" placeholder="Email Address"}}
            
            {{#if errors.email}}
                {{errors.email}}
            {{/if}}

<!-- organization -->
{{md-select 
  content = organization
	value = currentOrganization.id
  optionLabelPath = 'content.type'
  optionValuePath = 'content.id'
  prompt = "Organization"
}}

 <!-- looking for -->
{{md-select 
	content = projectType 
	value = currentProjectType.id 
  optionLabelPath = 'content.type'
  optionValuePath = 'content.id'
	prompt= "Project Type"
}}

<!-- Reasong -->
{{input value=reason label="reason" class="col s8" placeholder="Reason |  My Company is looking to create a web app that does the following | etc "}}

<div class="row">
        <!-- <button type="submit" class="btn btn-primary btn-whole footer col m6" {{bind-attr disabled='isInvalid'}}{{action 'sendContactMaterial'}}>SUBMIT</button> -->

        {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit' action = 'sendContactMaterial' isDisabled=isInvalid}}
</div>