{{input value=companyName label="companyName" class="col s8" placeholder="Company Name"}}
            
            {{#if errors.companyName}}
                {{errors.companyName}}
            {{/if}}


{{input value=name label="name" class="col s8" placeholder="Company Name"}}
            
            {{#if errors.name}}
                {{errors.name}}
            {{/if}}


{{input value=phone label="phone" class="col s8" placeholder="phone"}}
            
            {{#if errors.phone}}
                {{errors.phone}}
            {{/if}}


{{input value=email label="email" class="col s8" placeholder="email"}}
            
            {{#if errors.email}}
                {{errors.email}}
            {{/if}}

<!-- organization -->
{{md-select 
	content=frameworks 
	value=framework 
	label="organization" 
	prompt="Please choose..."
  	optionLabelPath='label'
  	optionValuePath='value'
}}

<!-- looking for -->
{{md-select 
	content=frameworks 
	value=framework 
	label="looking for" 
	prompt="Please choose..."
  	optionLabelPath='label'
  	optionValuePath='value'
}}

<!-- reference -->
{{md-select 
	content=frameworks 
	value=framework 
	label="reference" 
	prompt="Please choose..."
  	optionLabelPath='label'
  	optionValuePath='value'
}}

<!-- Reasong -->
{{input value=reason label="reason" class="col s8" placeholder="My Company is looking for"}}

<div class="row">
        <!-- <button type="submit" class="btn btn-primary btn-whole footer col m6" {{bind-attr disabled='isInvalid'}}{{action 'sendContactMaterial'}}>SUBMIT</button> -->

        {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit' action = 'sendContactMaterial' isDisabled=isInvalid}}
</div>