

  <div class="row">
    <div class="col s11">
      {{input value=companyName label="companyName" class="" placeholder="Company | Organization Name"}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.companyName}}

         <i class="small mdi-alert-error"></i>    

      {{/if}}

      {{#unless errors.companyName}}
        correct
      {{/unless}}
    </div>
  </div>    

  <div class="row">
    <div class="col s11">
      {{input value=name label="name" class="" placeholder="Name"}} 
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.name}}
         <i class="small mdi-alert-error"></i>     
      {{/if}}
    </div>
  </div>   

  <div class="row">
    <div class="col s11">
      {{input value=phone label="phone" class="" placeholder="Phone Number"}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.phone}}
         <i class="small mdi-alert-error"></i>       
      {{/if}}
    </div>
  </div>   

  <div class="row">
    <div class="col s11">
      {{input value=email label="email" class="" placeholder="Email Address"}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.email}}
         <i class="small mdi-alert-error"></i>     
      {{/if}}
    </div>
  </div>  

<!-- organization -->

{{md-select 
  content = organization
	value = currentOrganization.id
  optionLabelPath = 'content.type'
  optionValuePath = 'content.id'
  prompt = "Organization"
}}

 <!-- looking for -->
{{md-select 
	content = projectType 
	value = currentProjectType.id 
  optionLabelPath = 'content.type'
  optionValuePath = 'content.id'
	prompt= "Project Type"
}}

<!-- Reasong -->

  <div class="row">
    <div class="col s11">
      

{{input value=reason label="reason" class="" placeholder="Reason |  My Company is looking to create a web app that does the following | etc "}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.reason}}
         <i class="small mdi-alert-error"></i>       
      {{/if}}
    </div>
  </div>  

<div class="row center">
        <!-- <button type="submit" class="btn btn-primary btn-whole footer col m6" {{bind-attr disabled='isInvalid'}}{{action 'sendContactMaterial'}}>SUBMIT</button> -->

        {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit' action = 'sendContactMaterial' isDisabled=isInvalid}}
</div>