

  <div class="row">
    <div class="col s11">
      {{input value=hire_companyName label="companyName" class="" placeholder="Company | Organization Name"}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.hire_companyName}}
         <i class="small mdi-alert-error"></i>    
        {{else}}
          {{#if isCompanyNameEmpty}}
          <i class="small mdi-navigation-check"></i>  
          {{/if}}
      {{/if}}
    </div>
  </div>    

  <div class="row">
    <div class="col s11">
      {{input value=hire_name label="name" class="" placeholder="Name"}} 
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.hire_name}}
         <i class="small mdi-alert-error"></i>    
         {{else}}
          {{#if isNameEmpty}}
          <i class="small mdi-navigation-check"></i> 
          {{/if}} 
      {{/if}}
    </div>
  </div>   

  <div class="row">
    <div class="col s11">
      {{input value=hire_phone label="phone" class="" placeholder="Phone Number"}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.hire_phone}}
         <i class="small mdi-alert-error"></i>    
         {{else}}
          {{#if isPhoneEmpty}}
          <i class="small mdi-navigation-check"></i> 
          {{/if}} 
      {{/if}}
    </div>
  </div>   

  <div class="row">
    <div class="col s11">
      {{input value=hire_email label="email" class="" placeholder="Email Address"}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.hire_email}}
         <i class="small mdi-alert-error"></i>    
         {{else}}
          {{#if isEmailEmpty}}
          <i class="small mdi-navigation-check"></i> 
          {{/if}} 
      {{/if}}
    </div>
  </div>  

<!-- organization -->

{{md-select 
  content = organization
	value = currentOrganization.id
  optionLabelPath = 'content.type'
  optionValuePath = 'content.id'
  prompt = "Organization"
}}

 <!-- looking for -->
{{md-select 
	content = projectType 
	value = currentProjectType.id 
  optionLabelPath = 'content.type'
  optionValuePath = 'content.id'
	prompt= "Project Type"
}}

<!-- Reasong -->

  <div class="row">
    <div class="col s11">
      

{{input value=hire_reason label="reason" class="" placeholder="Reason |  My Company is looking to create a web app that does the following | etc "}}
    </div>
    <div class="col s1 contact_underline">
      {{#if errors.hire_reason}}
         <i class="small mdi-alert-error"></i>    
         {{else}}
          {{#if isReasonEmpty}}
          <i class="small mdi-navigation-check"></i> 
          {{/if}} 
      {{/if}}
    </div>
  </div>  

<div class="row center">

        {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit' action = 'sendContactMaterial' isDisabled=isInvalid}}
</div>