<!-- <ol class="breadcrumb">
  <li class="active">Products</li>
</ol> -->
{{#each product in model itemController='product'}}
	<div class='col-sm-7'>
		<!-- {{#link-to 'product' product.slug}}<h2>{{product.title}}</h2>{{/link-to}} -->
		{{product-detail product=product addItem='addItem'}}	
		{{md-btn text='' icon='mdi-action-add-shopping-cart' action='addItem' iconPosition='center'}}
		<!-- {{product.quantity}} -->
		{{product.itemsCount}}
	</div>
{{/each}}
 {{md-modal-container}}