
<div class="header fixed_component">

        {{#link-to 'index' class="logo"}}
          <img src="/logo.png"  class="img_logo" height="50" width="50"> 

        {{/link-to}}
        {{#md-navbar class='navbar_custom'}}
          <li class="navbar_border start">{{#link-to 'products'}} SHOP {{/link-to}}</li>
          <li class="navbar_border">{{#link-to 'blogs'}} BLOGS {{/link-to}}</li>
          <li class="navbar_border">{{#link-to 'contact'}} CONTACT {{/link-to}}</li>

          <li class="navbar_border">{{#link-to 'search'}} SEARCH {{/link-to}}</li>

          <li class="navbar_border" >{{#link-to 'about'}} ABOUT {{/link-to}}</li>

           <!-- <li class="navbar_border" >{{#link-to 'products.related'}} related {{/link-to}}</li>
 -->
          <li class="navbar_border" >



              <div class=" header_icons valign-wrapper">
                <div class="iconmelon svg_icon" >
                  <svg class="" viewBox="0 0 32 32">
                    <use xlink:href="/icons.svg#facebook1"></use>
                  </svg> 
                </div>

                <div class="iconmelon svg_icon" >
                  <svg class="" viewBox="0 0 32 32">
                    <use xlink:href="/icons.svg#twitter1"></use>
                  </svg>
                </div>

                <div class="iconmelon svg_icon" >
                <svg class="" viewBox="0 0 32 32">
                  <use xlink:href="/icons.svg#youtube1"></use> <!--google+-->
                </svg>
                </div>
              </div>
          </li>

          <li class="navbar_border cart start">

            <div class=" shopping-cart" {{action "showCartSummary" this}}>
              <img src="/ic_cart.png"  class="nav_icon" height="40" width="40">
              <div class="badge orange prod_count"> {{count}}</div>
            </div>
          </li>
        {{/md-navbar}}
         
    <div class="hover checkout_summary" >
      {{#if hasQuantity}}
        <div>
          <ul>
            <li class="row">

              <div class="col s8"><label>Item</label></div>
              <div class="col s2"><label>Price</label></div>
              <div class="col s1"><label>#</label></div>
              <div class="col s1"><label> </label></div>

            </li> 

          {{#each item in model itemController='application'}}
            <li class="row"> 
              <div class="col s8">
              {{item.title}}
              </div>
              <div class="col s2">
              {{item.price}}
              </div>
              <div class="col s1">
              {{item.quantity}} 
              </div>

              <div class="col s1">
                <button class="close" {{action 'removeItem'}}>&times;</button>
              </div>
            </li>
          {{/each}}
          </ul>
        </div>
        <hr/>

      <div class="row col s12">
      <div class="col s6 left-align">
      <label>Subtotal: </label>
      </div>
      <div class="col s5 right-align checkout_title text_green">
      <strong>P {{subTotal}}</strong>
      </div>   
      </div>
        {{#link-to 'checkout'}}
      <button class="btn btn-primary btn-whole col m6">CHECKOUT</button>
        {{/link-to}}
      {{else}}
        <div>
          Your cart is empty. Add some goodies!
        </div>
      {{/if}}
    </div>
</div>

  <div class="main_container">
    {{md-modal-container}}
    {{ember-notify messageStyle='bootstrap'}}
    {{outlet}}
    
  </div>

<footer class='fixed_component _footer'>
  <div class="text_white">
    <div class="">
      {{#link-to 'index'}}
        Rockin' Circuits
      {{/link-to}}
    </div>
    <div>

    </div>
    <div class="right valign-wrapper">
        <div class="iconmelon svg_icon" >
          <svg class="" viewBox="0 0 32 32">
            <use xlink:href="/icons.svg#facebook1"></use>
          </svg> 
        </div>

        <div class="iconmelon svg_icon" >
          <svg class="" viewBox="0 0 32 32">
            <use xlink:href="/icons.svg#twitter1"></use>
          </svg>
        </div>

        <div class="iconmelon svg_icon" >
          <svg class="" viewBox="0 0 32 32">
            <use xlink:href="/icons.svg#youtube1"></use> <!--google+-->
          </svg>
        </div>

        <div class="iconmelon svg_icon" >
          <svg class="" viewBox="0 0 32 32">
            <use xlink:href="/icons.svg#youtube1"></use> <!--google+-->
          </svg>
        </div>
    </div>
  </div>

</footer>