
      {{#md-navbar}}
        <li>{{#link-to 'products'}} Products {{/link-to}}</li>
        <li>{{#link-to 'blogs'}} Blogs {{/link-to}}</li>
        <li>{{#link-to 'contact'}} Contact {{/link-to}}</li>
        <li>{{#link-to 'about'}} About {{/link-to}}</li>
        <li>{{#link-to 'checkout'}} {{count}} {{/link-to}}</li>
        <li><button {{action "showCartSummary" this}}>Summary</button></li>

      {{/md-navbar}}
        <!-- <div class="checkout_summary" style="display:none;"> -->


<div class="hover checkout_summary" >
    {{#if count}}
      <div>
        <ul>
        {{#each item in model itemController='application'}}
          <li class="row"> 
            <div class="col s7">
            {{item.title}}
            </div>

            <div class="col s3">
            {{item.quantity}}
            </div>

            <div class="col s2">
            <!-- {{md-btn text='' icon='mdi-content-remove' action='removeItem' 
               isDisabled = false class="close"
        iconPosition='center'}} -->

        <button {{action 'removeItem'}}></button>

            </div>
          </li>
        {{/each}}
        </ul>
      </div>
    {{else}}
      <div>
        no item
      </div>
    {{/if}}
</div>

  <!-- </div> -->

  <div class="container">
    {{md-modal-container}}
    {{ember-notify messageStyle='bootstrap'}}
    {{outlet}}
  </div>

<footer class='container'>
    <hr />
    <p class='pull-right'>Credits</p>
    {{#md-copyright text='Copyright Text' startYear=2014}}
                <a class="grey-text text-lighten-1 right" href="#!">More Links</a>
    {{/md-copyright}}
</footer>