<!-- {{md-input value=model.name label="Name"}}
{{errors.name}} -->

<div class=" container">
{{#link-to 'success'}}link to success{{/link-to}}
<div class="row checkout">
<div class="col m6">
<div class="thumbnail checkout_info">

            <div class="row checkout_title checkout_input">
                Customer Information
            </div>

    <div class="row checkout_input">
            <label class="col s4">First Name</label>
            {{input value=firstName label="First name" class="col s8" placeholder="First Name"}}
            
            {{#if errors.firstName}}
                {{errors.firstName}}
            {{/if}}

    </div>
    <div class="row checkout_input">
            <label class="col s4">Last Name</label>
            {{input value=lastName 
            label="Last name" 
            class="col s8" placeholder="Last Name"}} 

            {{#if errors.lastName}}
                {{errors.lastName}}
            {{/if}}

    </div>

     <div class="row checkout_input"> 
                <!-- <label>*Last name: </label>
                    {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->

            <label class="col s4">Email</label>
            {{input class="col s8" value=email label="Email Address" placeholder="Email Address"}}
            
                {{#if errors.email}}
                {{errors.email}}

                    <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                {{/if}} 
    </div>

     <div class="row checkout_input"> 
                <!-- <label>*Last name: </label>
                    {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
            <label class="col s4">Phone</label>
                    {{input value=phone label="Phone" class="col s8" placeholder="Phone"}}
                        {{#if errors.phone}}
                        {{errors.phone}}
                            <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                        {{/if}}
            
    </div>

     <div class="row checkout_input">
                <!-- <label>*Last name: </label>
                    {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->

            <label class="col s4">Address</label>
                    {{input value=streetAddress label="Street Address" class="col s8" placeholder="Street Address"}}
                        {{#if errors.streetAddress}}
                            {{errors.streetAddress}}
                            <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                        {{/if}}
        
    </div>

     <div class="row checkout_input">
                <!-- <label>*Last name: </label>
                    {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
            <label class="col s4">Apt, suite, etc.</label>
                    {{input value=streetAddress2 label="Street Address 2" class="col s8" placeholder="Apt, suite, etc."  autofocus=false}}
                        {{#if errors.streetAddress2}}
                        {{errors.streetAddress2}}
                            <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                        {{/if}} 
    </div>

     <div class="row checkout_input"> 
                <!-- <label>*Last name: </label>
                    {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
            <label class="col s4">Zip Code</label>
                    {{input value=zip label="Zip Code" class="col s8" placeholder="Zip Code"}}
                        {{#if errors.zip}}
                        {{errors.zip}}
                            <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                        {{/if}}
     
    </div>

     <div class="row checkout_input">
                <!-- <label>*Last name: </label>
                    {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
            <label class="col s4">City</label>
                    {{input value=city label="City" class="col s8" placeholder="City"}}
                        {{#if errors.city}}
                        {{errors.city}}
                            <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                        {{/if}}
            
    </div>
    <div class="row checkout_input ">
                <!-- <label>*Last name: </label>
                    {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
            <label class="col s4">State/Province</label>
                    {{input value=state label="State/Province" class="col s8" placeholder="State/Province"}}
                        {{#if errors.state}}
                        {{errors.state}}
                            <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                        {{/if}}
    </div>

     <div class="row checkout_payment_method">


        {{md-radios
            selection=selectedVal
            content=radioSelection
            optionValuePath='value'
            optionLabelPath='label'}}


            
            <div class="row col s12 checkout_payment_data" >
                Hello payment method should be here!
            </div>
    </div>


</div>
</div> 
  <div class="col m1">
  </div>
    <div class="col m5 ">
        <div class="row checkout_order thumbnail fixed_component"> 

            
            <div class="row checkout_title checkout_input">
               Order Summary
            </div>

            <ul class=" checkout_order_list checkout_input row">




                <li class="row">

                <div class="col s6"><label>Item</label></div>
                <div class="col s2"><label>Price</label></div>
                <div class="col s1"><label>#</label></div>
                <div class="col s2"><label> </label></div>

                </li> 

            {{#each item in model itemController = 'checkout'}}

                <li class="row">

                <div class="col s6">{{item.title}}</div>
                <div class="col s2">{{item.price}}</div>
                <div class="col s1">{{item.quantity}}</div>
                <div class="col s2">{{item.subtotal}}</div>
                <button class="col s1 close" {{action 'removeItem'}}>&times;</button>

                </li> 
            {{/each}}
            </ul>
            <div class="row col s12 checkout_total">
            <div class="col s6 left-align">
            <label>Total</label>
            </div>
            <div class="col s5 right-align checkout_title text_green">
            <strong>P {{subTotal}}</strong>
            </div>   

            <div class="col m1 right-align">

            </div>
            </div>

        </div>



       
    </div>
</div>
<div class="row">
        <button type="submit" class="btn btn-primary" {{bind-attr disabled='isInvalid'}}{{action 'processOrder'}}>PLACE ORDER</button>
</div>

{{outlet}}
</div>