<!-- {{md-input value=model.name label="Name"}}
{{errors.name}} -->

<div class="row">
<div class="col s7">

 <div class="row">
        <div class="col-md-6 col-xs-4">
                {{md-input value=firstName label="First name"}}
        </div>
        <div class="col-md-6 col-xs-4">
                {{md-input value=lastName label="Last name"}}
        </div>
        <div class="col-md-6 col-xs-4">
            <!-- <label>*Last name: </label>
                {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
                {{md-input value=email label="Email Address"}}
                    {{#if errors.email}}
                        <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                    {{/if}}
        </div>
        <div class="col-md-6 col-xs-4">
            <!-- <label>*Last name: </label>
                {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
                {{md-input value=phone label="Phone"}}
                    {{#if errors.phone}}
                        <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                    {{/if}}
        </div>
        <div class="col-md-6 col-xs-4">
            <!-- <label>*Last name: </label>
                {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
                {{md-input value=streetAddress label="Street Address"}}
                    {{#if errors.streetAddress}}
                        <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                    {{/if}}
        </div>
        <div class="col-md-6 col-xs-4">
            <!-- <label>*Last name: </label>
                {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
                {{md-input value=streetAddress2 label="Street Address 2"}}
                    {{#if errors.streetAddress2}}
                        <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                    {{/if}}
        </div>
        <div class="col-md-6 col-xs-4">
            <!-- <label>*Last name: </label>
                {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
                {{md-input value=zip label="Zip Code"}}
                    {{#if errors.phone}}
                        <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                    {{/if}}
        </div>
        <div class="col-md-6 col-xs-4">
            <!-- <label>*Last name: </label>
                {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
                {{md-input value=city label="City"}}
                    {{#if errors.city}}
                        <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                    {{/if}}
        </div>
        <div class="col-md-6 col-xs-4">
            <!-- <label>*Last name: </label>
                {{input type="text" placeholder="Family name" value=newFamilyname class="form-control"}} -->
                {{md-input value=state label="State/Province"}}
                    {{#if errors.state}}
                        <!-- <span class="error"><span class="glyphicon glyphicon-warning-sign"></span> {{errors.newFamilyname}}</span> -->
                    {{/if}}
        </div>


        
         {{#md-tabs selected=selectedTabId}}
            {{md-tab value='a' title='Cash on Meetup'}}
            {{md-tab value='b' title='Bank Transfer'}}
            {{md-tab value='c' title='PayPal'}}
        {{/md-tabs}}
</div>
</div> 
<div class="col s5">
        <ul>
        {{#each item in model}}
        <li>{{item.title}} {{item.price}} {{item.quantity}} {{item.subtotal}}</li> 
        {{/each}}
        </ul>
        {{subTotal}}


        <!-- Echo fields -->
        <p><strong>{{firstName}}</strong></p>
        <p><strong>{{lastName}}</strong></p>
        <p><strong>{{email}}</strong></p>
        <p><strong>{{phone}}</strong></p>
        <p><strong>{{streetAddress}}</strong></p>
        <p><strong>{{streetAddress2}}</strong></p>
        <p><strong>{{zip}}</strong></p>
        <p><strong>{{city}}</strong></p>
        <p><strong>{{state}}</strong></p>

</div>
</div>
<div class="row">
        <button type="submit" class="btn btn-primary" {{bind-attr disabled='isInvalid'}}{{action 'processOrder'}}>PLACE ORDER</button>
</div>