{{#document-title}}{{title}}{{/document-title}}
<div class="row" id="product_specific_container">

	<div class="fixed_component"> 
		<div class="col l5 space_on_top">

			
			<div class="row">

				<div class="col s12">
			    <img {{bind-attr src='image'}} id='' class='img-thumbnail'/>
			    </div>
			</div>
			<div class="row">
		 		<div class="col m6 s6 ">
		 			<div class="prod_cart_buttons row">
						{{#if itemsCount}}
							{{md-btn text='-' action='minusItem'  class='col m4'
								isDisabled = false iconPosition='center'}} 

						{{else}}
							{{md-btn text='-' action='minusItem' class='col m4' isDisabled = true iconPosition='center'}} 
						{{/if}}
						<div class="col m4 s4 center-align prod_cart_button_text">

							{{itemsCount}}
						</div>
						<div {{action 'itemAnimation' this target=view}}>
							{{md-btn text='+' iconPosition='center' class='col m4 add_button'}}

						</div>
					</div>
		 		</div>
				<div class="col m6 s6  right-align product_price text_green product_title">
			 		P {{price}}
<!-- 
   			 	{{#share-twitter data-url=currentBaseUrl
                    data-text= 'check this out!'
                    data-size= 'large' 
                    data-hashtags= 'rockincircuits'
                    data-via= 'rockincircuits'
                }}
                	tweet
                {{/share-twitter}}

                {{fb-send}} -->
			 	</div>
		 	</div>
		 	<div class="row col s12">
		 		<div class="col m6 s6 left-border">
		 			
                <!-- <div class="iconmelon svg_icon" >
                  <svg class="" viewBox="0 0 32 32">
                    <use xlink:href="/icons.svg#facebook1"></use>
                  </svg> 
                </div> -->

      				<button class="btn btn-primary btn-whole col m6">Facebook</button>

		 		</div>
		 		<div class="col m6 s6 right-border">
	 
      				<button class="btn btn-primary btn-whole col m6">Twitter</button>
                <!-- <div class="iconmelon svg_icon" >
                  <svg class="" viewBox="0 0 32 32">
                    <use xlink:href="/icons.svg#twitter1"></use>
                  </svg>
                </div> -->

		 		</div>

		 	</div>
		 	
	 	</div>
	</div>

	<div class="content_of_fixed_bar "> 
		<div class=" col l7 space_on_top footer product_specific_text">
			<div class="product_title">
		 		{{title}}
		 	</div>
		 	<div class="badge text-uppercase">
		 		{{type}}
		 	</div>
		 	<div class="description">
	    		{{{html}}}
	    	</div>
	    	{{outlet 'sidebar'}}
	    	
	   	</div>
	</div>
</div>
