<div class="row">
	<div class="col m5">
		<div>
	    <img {{bind-attr src='image'}} id='' class='img-thumbnail'/>
	    </div>
	</div>
	<div class="col m7 product_specific_text">
		<div class="product_title">
	 		{{title}}
	 	</div>
	 	<div class="badge text-uppercase">
	 		{{type}}
	 	</div>

	 	<div class="row">

	 		<div class="col m4 s4 row checkout_total">

<<<<<<< HEAD
				{{#if itemsCount}}
					{{md-btn text='-' action='minusItem'  class='col m6'
						isDisabled = false iconPosition='center'}} 

				{{else}}
					{{md-btn text='-' action='minusItem' class='col m6'
=======
				{{#if product.itemsCount}}
					{{md-btn text='' icon='mdi-content-remove' action='minusItem'  class='col m6 s6'
						isDisabled = false iconPosition='center'}} 

				{{else}}
					{{md-btn text='' icon='mdi-content-remove' action='minusItem' class='col m6 s6'
>>>>>>> 36d871e1eba7ae1bbf3361377044fb976478cb1e
						isDisabled = true iconPosition='center'}} 
				{{/if}}


<<<<<<< HEAD
				<div {{action 'itemAnimation' this target=view}}>
					{{md-btn text='+' iconPosition='center' class='col m6 add_button'}}
=======
				<div {{action 'itemAnimation' product target=view.parentView}}>
					{{md-btn text='' icon='mdi-content-add' iconPosition='center' class='col m6 s6 add_button'}}
>>>>>>> 36d871e1eba7ae1bbf3361377044fb976478cb1e
				</div>

	 		</div>

				<div class="col m7 s7  right-align product_price text_green product_title">
			 		P {{price}}
			 	</div>
	 	
	 	</div>
	 	<div class="description">
    	{{{description}}}
    	</div>
   	</div>

</div>

{{#each product in model}}
{{product.title}}
{{/each}}