{{#document-title}}{{isTitlePH}}{{/document-title}}
<link rel="canonical" href="http://www.circuit.rocks">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" {{bind-attr content = type}} >
<meta name="description" {{bind-attr content = description}}>

<div class="row" id="product_specific_container">

	<div class="col l4 fixed_component "> 
		<div class=" space_on_top">

			
			<div class="row">

				<div class="col s12">
			    {{image-preview class='img-thumbnail' src=image alt=title mouseX=mouseX mouseY=mouseY}}
			    <div id="zoomed_img">
 	 				{{image-zoom src=image alt=title mouseX=mouseX mouseY=mouseY}}
  				</div>
			    </div>
			</div>
			<div class="row">
		 		<div class="col m6 s6 ">
		 			<div class="prod_cart_buttons row">
						{{#if itemsCount}}
							{{md-btn text='-' action='minusItem'  class='col m4 s4'
								isDisabled = false iconPosition='center'}} 

						{{else}}
							{{md-btn text='-' action='minusItem' class='col m4 s4' isDisabled = true iconPosition='center'}} 
						{{/if}}
						<div class="col m4 s4 center-align prod_cart_button_text">

							{{itemsCount}}
						</div>
						<div {{action 'itemAnimation' this target=view}}>
							{{md-btn text='+' iconPosition='center' class='col m4 s4 add_button'}}

						</div>
					</div>
		 		</div>
				<div class="col m6 s6  right-align product_price text_green product_title">
			 		P {{price}}
<!-- 
   			 	{{#share-twitter data-url=currentBaseUrl
                    data-text= 'check this out!'
                    data-size= 'large' 
                    data-hashtags= 'rockincircuits'
                    data-via= 'rockincircuits'
                }}
                	tweet
                {{/share-twitter}}

                {{fb-send}} -->
			 	</div>
		 	</div>
		 	<div class="row">
		 		<div class="col s4 m4 l4 social_box facebook" {{action "fbClick" currentBaseUrl}}> 
					<div class="iconmelon svg_icon" >
						<svg class="" viewBox="0 0 600 600">
							<use xlink:href="/icons.svg#facebook"></use>
						</svg>
					</div>  
		 		</div>
		 		<div class="col s4 m4 l4 social_box  twitter" {{action "twitterClick" currentBaseUrl}}> 
					<div class="iconmelon svg_icon" >
						<svg class="" viewBox="0 0 500 500">
							<use xlink:href="/icons.svg#twitter"></use>
						</svg>
					</div>  
		 		</div> 
		 		<div class="col s4 m4 l4 social_box  google" {{action "gplusClick" currentBaseUrl}}> 
					<div class="iconmelon svg_icon" >
						<svg class="" viewBox="0 0 120 120">
							<use xlink:href="/icons.svg#google"></use>
						</svg>
					</div> 
		 		</div> 

		 	</div> 
	 	</div>
	</div>

	<div class="content_of_fixed_bar product_specific col l8">
		<div class="row"> 
			<div class=" col l8 space_on_top footer product_specific_text">
				<div class="product_title">
			 		{{title}}
			 	</div>
			 	<div class="badge text-uppercase">
			 		{{type}}
			 		
			 	</div>
			 	<div class="description">
		    		{{{html}}}
		    	</div>
		    	
{{disqus-comments identifier=title}}
		   	</div>

		    {{outlet 'sidebar'}}
		</div>  
	</div>


</div>
