<div class="row" id="product_specific_container">

	<div class="fixed_component"> 
		<div class="col l5 space_on_top">
			<div class="row col s12">

				<div>
			    <img {{bind-attr src='image'}} id='' class='img-thumbnail'/>
			    </div>
			</div>
			<div class="row">

		 		<div class="col m4 s4 row checkout_total">
					{{#if itemsCount}}
						{{md-btn text='-' action='minusItem'  class='col m4'
							isDisabled = false iconPosition='center'}} 

					{{else}}
						{{md-btn text='-' action='minusItem' class='col m4' isDisabled = true iconPosition='center'}} 
					{{/if}}
					<div class="col m2 s2">

						{{itemsCount}}
					</div>
					<div {{action 'itemAnimation' this target=view}}>
						{{md-btn text='+' iconPosition='center' class='col m4 add_button'}}

					</div>

		 		</div>

				<div class="col m7 s7  right-align product_price text_green product_title">
			 		P {{price}}

   			 	{{#share-twitter data-url=currentBaseUrl
                    data-text= 'check this out!'
                    data-size= 'large' 
                    data-hashtags= 'rockincircuits'
                    data-via= 'rockincircuits'
                }}
                	tweet
                {{/share-twitter}}

                {{fb-send}}
			 	</div>


		 	</div>
	 	</div>
	</div>

	<div class="content_of_fixed_bar "> 
		<div class=" col l7 space_on_top footer product_specific_text">
			<div class="product_title">
		 		{{title}}
		 	</div>
		 	<div class="badge text-uppercase">
		 		{{type}}
		 	</div>
		 	<div class="description">
	    		{{{html}}}
	    	</div>
	    	{{outlet 'sidebar'}}
	    	
	   	</div>
	</div>
</div>
