{{#document-title}}Search{{/document-title}}
<div class ="container whole" >
  <div class="search_header">
  <div class=" page_title search text-uppercase text_green">
  I'M LOOKING FOR...
  </div>
    <form class="input-group container" {{action "search" on="submit"}}>
        {{input class="search form-control" placeholder="Search shop for ..." value=queryField}}
        <span class="input-group-btn"> 
          <button type="submit" class="search_button waves-light waves-effect btn">
            <div class="iconmelon" >
              <svg class="" viewBox="0 0 32 32">
                <use xlink:href="/icons.svg#search"></use>
              </svg> 
            </div>
          </button>
        </span>   
    </form>
  </div>
  {{#if query}}
    {{#if model}}
    <ul>
    <div class="row">
      {{#each model as |product|}}
        <div class='col l4 '>
            <div class='product_card'>
               {{product-detail product=product addItem='addItem'}}
            </div>
          </div>
    {{/each}}
    </div>
    </ul>
    {{else}}
    <div class="page_title no_bottom_border">
        No results for {{noResultField}}
     </div>
  {{/if}}
  {{/if}}
</div>